<!-- templates/dashboard.html -->
{% extends "base.html" %} 
{% block content %}
    <h1>Welcome to Your Dashboard</h1>
    <!-- Example links for different sections of the dashboard -->
   <!-- Include Bootstrap CSS, if not already included -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-4">
   <div class="container mt-4">
    <div class="row">
        {% for course in courses %}
        <a href="{{ url_for('course_details', course_id=course.id) }}" class="card-link">

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ url_for('static', filename=course.image_url) }}" alt="{{ course.title }}">

                <div class="card-body">

                    <h5 class="card-title">{{ course.title }}</h5>
                    
                    <p class="card-text">{{ course.creator.username }}</p>
                    <p class="card-text">{{ course.description }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">${{ course.price_per_hour }} per hour</span>
                        <div>
                            <small class="text-muted">⭐️ {{ course.rating or 'New' }}</small>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Tags: {{ course.category_tags }}</small>
                </div>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Optionally, include Bootstrap JS, if you need interactive components -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    
 {% endblock %}
